<div class ="container">
    
    
    
  <div class="row">
      <div class="col-6">
        <div id="moto1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.precomotos.com/wp-content/uploads/2019/11/honda-cg-160-titan-s-2020-1120x720.jpg" class="d-block w-100" alt="...">
                	
                <h2>Honda CG 160 Titan</h2>
                A nova CG 160 Titan chegou mais esportiva do que nunca.<br>
                Linha mais vendida do país, as motos CG contam com um motor de 160cm³. Integrando esse time, a CG 160 Titan alia alto rendimento com baixo consumo de combustível, surpreendendo com um excelente custo-benefício.<br>
                A CG 160 Titan garante segurança para você encarar o trânsito da cidade com mais tranquilidade. Ela conta com o sistema de freios CBS (Combined Brake System) que distribui a frenagem entre as rodas de maneira inteligente. Com ele, ao acionar o freio traseiro, o freio dianteiro é acionado simultaneamente.
              </div>

              <div class="carousel-item">
                <img src="https://i0.statig.com.br/bancodeimagens/4v/mc/4a/4vmc4an2n9z8zirlvbhio1tnx.jpg" class="d-block w-100" alt="...">
                <h2>Honda Biz 110i</h2>
                O maior índice de parceria por quilômetro rodado.<br>
                Deixamos o porta-objetos da Biz ainda maior: você pode levar os seus cadernos, livros, compras e, claro, o seu capacete. A sua companheira está de cara nova e pronta para o que der e vier.<br>
                Com a Biz 110i é mais fácil pilotar na cidade graças a seu câmbio semi automático que permite uma pilotagem mais fácil.
                A Biz 110i vem com o Sistema Honda de Proteção com trava de guidão para você ter mais praticidade e segurança ao estacionar.

              </div>
              <div class="carousel-item">
                <img src="https://motonewsbrasil.com/wp-content/uploads/2020/03/honda-nxr-160-bros-se-2020-1.jpg" class="d-block w-100" alt="...">
                <h2>Honda NXR 160 Bros</h2>
                Com um novo design arrojado, protetor de suspensão e motor de 160cc, a Honda NXR 160 Bros traz economia e conforto para você pilotar por horas dentro ou fora da cidade.<br>
                A Bros 160 conta com painel blackout digital: moderno e prático, facilita a leitura das informações pelo piloto. Vem com velocímetro, hodômetro total e parcial, marcador do nível de combustível, relógio e luzes-espia.
                A Bros 160 é garantia de estabilidade e segurança em todos os tipos de terreno. Contando com freios CBS (Combined Brake System) aliado ao freio a disco nas duas rodas, esse modelo distribui a frenagem de modo inteligente. Com esse sistema, ao acionar o freio traseiro, o freio dianteiro é acionado simultaneamente.

            
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#moto1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#moto1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>

      <div class="col-6">
        <div id="moto2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.webmotors.com.br/wp-content/uploads/2019/02/02011407/Pop110i_2019_.jpg" class="d-block w-100" alt="...">
                	
                <h2>Honda Pop 110i</h2>
                Se é Pop, é Top.<br>
                Com uma textura exclusiva e agora também na cor vermelha, o novo assento da Pop 110i está ainda mais confortável, moderno e estiloso.<br>
                Garantindo mais segurança ao piloto, o sistema de freios CBS (Combined Brake System) distribui a frenagem de maneira equilibrada entre as rodas traseira e dianteira.
                Com injeção eletrônica, o motor da Honda Pop tem a potência que você precisa com a economia que você quer. O motor 110cc conta injeção eletrônica PGM-FI, além de ser forte, é econômico.
              </div>

              <div class="carousel-item">
                <img src="https://www.rushlane.com/wp-content/uploads/2021/02/2021-suzuki-hayabusa-web-edition-launch.jpg" class="d-block w-100" alt="...">
                <h2>Suzuki Hayabusa</h2>
                Os pilotos podem selecionar o esquema de pintura Metallic Oort Grey com um símbolo e rodas vermelhas contrastantes da Hayabusa ou a pintura Glass Sparkle Black com rodas e símbolo prateados.<br>
                O potente motor DOHC de quatro cilindros e 1340 cc emprega o avançado EFI da Suzuki com dois injetores de combustível de 10 furos alimentando cada cilindro e entradas de ar duplas no nariz da carenagem aerodinâmica.
                Os rotores de freio dianteiro duplo de 310 mm totalmente flutuantes são agarrados por pinças de freio Brembo Monobloc equipadas com freios antibloqueio (ABS*), proporcionando poder de frenagem confiável.

              </div>
              <div class="carousel-item">
                <img src="https://www.dmcmoto.co.uk/img/ducati/2017-ducati-xdiavel-s-1.jpg" class="d-block w-100" alt="...">
                <h2>Ducati XDiavel S</h2>
                Cultura cruiser, beleza italiana<br>
                Longa, baixa, com traços moderno, pedaleiras para frente e sistemas tecnologicamente avançados, mas acima de tudo, com todas as crenças da Ducati.
                Adrenalina e performance são as palavras que movem os Ducatistas apaixonados e não poderia ser diferente na XDiavel. O modelo conta com um motor Testastretta DVT bi cilíndrico em L com 4 válvulas por cilindro com acionamento desmodrômico e 2 velas por cilindro. Esta obra de arte mecânica possui 152 CV a @9.500 rpm e tem um torque de 12,6 kgf.m a @5.000 rpm.

            
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#moto2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#moto2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>

  </div>
</div>
